@font-face{
    font-family: CothamSans;
    src: url(font/CothamSans.otf)
}

body{

    width: 100%;
    background-color: black;
   
    
}

.spazio{
    height: 100px;
}

.generale{
        background-image: url(sfondo.png);
    background-size: 70%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 200px;
}

.testa{
    font-size: 48pt;
       align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.sottotitolo{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.mappa{

    width: 731px;
    height: 642p; 
}

.container{
 
        align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.general{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testo{
    font-family: cothamsans;
    line-height: 1.4em;
    color: #F0F0F0;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 18pt;
    text-align: justify;
}

.foot{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.loghi{
    width: 150px;
    padding: 5%;
}

.immagine{
    width: 100%;
    padding-bottom: 2%;
}

.titolo{
    font-size: 36pt;
    color: #f0f0f0;
    Font-family: cothamsans;
    padding-left: 2%;
}

.scheda{
    font-size: 24pt;
    padding-left: 15%;
    color: lightgray;
    font-family: cothamsans;
    padding-bottom: 3%;
    padding-top: 3%;
}

.location{
    font-size: 24pt;
    padding-left: 15%;
    color: lightgray;
    font-family: cothamsans;
    padding-bottom: 3%;
    padding-top: 3%;
}

a:link{
    text-decoration: none;
    color: lightgray;
    
}

a:visited{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    text-decoration: none;
    color: red;
}

.tit{
    font-size: 36pt;
    color: white;
}

@media only screen  {
    
    .generale{
        background-size: 100%;
    }
    
    .mappa{
       width: 100%;
        height: auto;
}
    
    .testo{
        font-size: 18pt;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .loghi{
        width: 25%;
        padding:2%;
    }
